// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2026 Flipper FZCO
 */

/dts-v1/;

#include "rk3576-flipper-one.dtsi"

/ {
	model = "Flipper One rev. F0B1C2";
	compatible = "flipper,one-rev-f0b1c2", "rockchip,rk3576";
};
